@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  font-family: 'Red Hat Display', sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/pattern-background-desktop.svg) no-repeat;
  background-size: contain;
  background-color: var(--pale-blue);
}

p {
  font-size: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.card-content h1 {
  font-weight: 900;
  color: var(--dark-blue);
}

.card-content p {
  color: var(--desaturated-blue);
  font-weight: 500;
}

.card-content .content-paragraph {
  margin: 0 0.875rem;
  text-align: center;
}

.card-content .plan {
  display: flex;
  gap: 16px;
  background-color: var(--very-pale-blue);
  width: 320px;
  padding: 12px 8px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.card-content .plan .info {
  display: flex;
  gap: 24px;
}

.card-content .info .info-text {
  align-items: flex-start;
}

.checkout-buttons button {
  cursor: pointer;
  padding: 1.25rem 5rem;
  width: 320px;
  border: none;
}

.card-content .plan button {
  border: none;
  background: transparent;
  margin-right: 0.5rem;
}

.plan button a {
  color: var(--bright-blue);
  font-weight: 700;
}

.checkout-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.checkout-buttons button a {
  text-decoration: none;
  font-weight: 900;
}

.checkout-buttons button:nth-child(1) {
  background-color: var(--bright-blue);
  border-radius: 8px;
  box-shadow: 2px 10px 10px var(--pale-blue);
}

.checkout-buttons button:nth-child(1) a {
  color: var(--very-pale-blue);
}

.checkout-buttons button:nth-child(2) {
  background-color: transparent;
}

.checkout-buttons button:nth-child(2) a {
  color: var(--desaturated-blue);
}

@media (min-width: 375px) {
  body {
    background: url(./images/pattern-background-mobile.svg) no-repeat;
    background-size: contain;
    background-color: var(--pale-blue);
  }

  .card {
    background: #fff;
    width: min-content;
    border-radius: 8px;
    box-shadow: none;
  }

  .card-image img {
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    width: 24rem;
  }
}

@media (min-width: 768px) {
  .card {
    background: #fff;
    width: min-content;
    border-radius: 8px;
    box-shadow: 2px 8px 2px 2px gray;
  }
}
